<app-header></app-header>
<meta name="description"
    content="Découvrez les services d'Angilion : optimisation logiciel, excel, conseils marketing, et gestion d'entreprise. Des solutions sur mesure pour vos besoins professionnels.">

<section class="hero h-screen bg-cover bg-center text-white flex items-center justify-center relative"
    style="background-image: url('assets/background_desk-954_1280.jpg')">
    <!-- Sommaire Section -->
    <div class="sommaire absolute top-8 left-0 w-full flex justify-center space-x-20 z-10">

        <a routerLink="/"
            class="mt-8 inline-block bg-[#9c544e] text-white px-6 py-3 rounded-lg hover:bg-[#763c32] transition">
            Accueil
        </a>

        <a routerLink="/services"
            class="mt-8 inline-block bg-[#9c544e] text-white px-6 py-3 rounded-lg hover:bg-[#763c32] transition">
            Services
        </a>

        <a routerLink="/contact"
            class="mt-8 inline-block bg-[#9c544e] text-white px-6 py-3 rounded-lg hover:bg-[#763c32] transition">
            Contact
        </a>
    </div>


    <!-- Hero Content -->
    <div class="absolute inset-0 bg-black opacity-30 z-0"></div> <!-- Fond semi-transparent -->
    <div class="text-center z-10 relative">
        <h1 class="text-6xl font-bold tracking-wide mt-4 text-inset">
            ANGILION
        </h1>
        <p class="text-2xl font-bold tracking-wide">conseils et services</p>
        <h1 class=" text-5xl font-bold tracking-wide mt-4">
            est là pour vous aider
        </h1>

        <h2 class="text-3xl font-bold mt-8">Des conseils et services pour transformer votre travail au quotidien</h2>
        <p class="text-lg mt-4">Solutions sur mesure pour optimiser votre fonctionnement, IT, marketing et gestion
            d’entreprise</p>
        <a routerLink="/services"
            class="mt-8 inline-block bg-[#9c544e] text-white px-6 py-3 rounded-lg hover:bg-[#763c32] transition">
            Commencez votre transformation maintenant
        </a>
    </div>
</section>

<!-- Présentation -->
<div class="container mx-auto px-4 text-center mt-20 mb-20">
    <h2 class="text-4xl font-bold uppercase tracking-wide mb-16 text-[#4a4a4a]">Pourquoi me choisir ?</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        <!-- Point 1 -->
        <div class="transform hover:scale-105 transition duration-300 flex flex-col items-center text-center">
            <img src="assets/mountain.png" alt="Expérience" class="w-16 h-16 mb-4">
            <h3 class="text-xl font-semibold mb-2">Une expérience unique</h3>
            <p class="text-gray-600">18 ans d’expertise dans des secteurs variés comme la recherche, l’industrie, et
                l’IT.</p>
        </div>
        <!-- Point 2 -->
        <div class="transform hover:scale-105 transition duration-300 flex flex-col items-center text-center">
            <img src="assets/puzzle.jpg" alt="Flexibilité" class="w-16 h-16 mb-4">
            <h3 class="text-xl font-semibold mb-2">Polyvalence et flexibilité</h3>
            <p class="text-gray-600">Capacité à m’adapter à vos besoins spécifiques et à vos objectifs.</p>
        </div>
        <!-- Point 3 -->
        <div class="transform hover:scale-105 transition duration-300 flex flex-col items-center text-center">
            <img src="assets/growth.png" alt="Résultats" class="w-16 h-16 mb-4">
            <h3 class="text-xl font-semibold mb-2">Approche orientée résultats</h3>
            <p class="text-gray-600">Focus sur des solutions concrètes pour transformer vos ambitions en succès.</p>
        </div>
        <!-- Point 4 -->
        <div class="transform hover:scale-105 transition duration-300 flex flex-col items-center text-center">
            <img src="assets/main.png" alt="Personnalisation" class="w-16 h-16 mb-4">
            <h3 class="text-xl font-semibold mb-2">Accompagnement personnalisé</h3>
            <p class="text-gray-600">Proximité et écoute pour vous offrir des solutions sur mesure.</p>
        </div>
    </div>
</div>


<!-- Services Section -->
<section class="services py-16 bg-gray-100 mt-20 ">
    <div class="container mx-auto px-4 mb-20">
        <h2 class="text-4xl font-bold text-center mb-16 text-[#9c544e]">Nos services</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-10">
            <!-- Service 1 -->
            <a [routerLink]="['/services']" fragment="optimisation"
                class="service-card bg-white p-6 rounded-lg shadow-md text-center mb-12 border-t-4 border-[#9c544e]">
                <div class="flex items-center justify-center space-x-2">
                    <!-- Icône -->
                    <img src="assets/chronograph.png" alt="Icône Optimisation du fonctionnement"
                        class="justify-center mb-4" loading="lazy">
                    <!-- Texte -->
                    <h3 class="text-2xl font-semibold text-[#9c544e] mb-4">Optimisez votre fonctionnement</h3>
                </div>
                <span>Optimisez vos processus et gagnez du temps grâce à des outils adaptés à vos besoins</span>
            </a>
            <!-- Service 2 -->
            <a [routerLink]="['/services']" fragment="logiciels"
                class="service-card bg-white p-6 rounded-lg shadow-md text-center mb-12 border-t-4 border-[#9c544e]">
                <div class="flex items-center justify-center space-x-8">
                    <!-- Icône -->
                    <img src="assets/feedback.png" alt="Icône Conseil Logiciel et mise en place" class="w-16 h-10 mb-4"
                        loading="lazy">
                    <!-- Texte -->
                    <h3 class="text-2xl font-semibold text-[#9c544e] mb-4">Conseil, installation et formation de
                        logiciels</h3>
                </div>
                <span>Accompagnement complet pour choisir, installer, et maîtriser vos outils professionnels</span>
            </a>
            <!-- Service 3 -->
            <a [routerLink]="['/services']" fragment="dashboards"
                class="service-card bg-white p-6 rounded-lg shadow-md text-center mb-12 border-t-4 border-[#9c544e]">
                <div class="flex items-center justify-center space-x-8">
                    <!-- Icône -->
                    <img src="assets/manager.png" alt="Icône Dashboard data excel" class="w-20 h-16 mb-4"
                        loading="lazy">
                    <!-- Texte -->
                    <h3 class="text-2xl font-semibold text-[#9c544e] mb-4">Prenez des décisions éclairées</h3>
                </div>
                <span>Analyse de données et création de tableaux de bord pour mieux piloter votre activité.</span>
            </a>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <!-- Service 4 -->
            <a [routerLink]="['/services']" fragment="prestataires"
                class="service-card bg-white p-6 rounded-lg shadow-md text-center mb-12 border-t-4 border-[#9c544e]">
                <div class="flex items-center justify-center space-x-8">
                    <!-- Icône -->
                    <img src="assets/computer.png" alt="Icône Prestataire cahier des charges" class="w-12 h-12 mb-4"
                        loading="lazy">
                    <!-- Texte -->
                    <h3 class="text-2xl font-semibold text-[#9c544e] mb-4">Simplifiez vos relations IT</h3>
                </div>
                <span>Gestion et coordination avec vos prestataires informatiques</span>
            </a>
            <!-- Service 5 -->
            <a [routerLink]="['/services']" fragment="marketing"
                class="service-card bg-white p-6 rounded-lg shadow-md text-center mb-12 border-t-4 border-[#9c544e]">
                <div class="flex items-center justify-center space-x-2">
                    <!-- Icône -->
                    <img src="assets/seo.jpg" alt="Icône marketing seo chartres graphiques" class="w-16 h-12 mb-4"
                        loading="lazy">
                    <!-- Texte -->
                    <h3 class="text-2xl font-semibold text-[#9c544e] mb-4">Boostez votre visibilité</h3>
                </div>
                <span>Stratégies marketing, référencement, et conseils en branding pour vous démarquer</span>
            </a>
            <!-- Service 6 -->
            <a [routerLink]="['/services']" fragment="formations"
                class="service-card bg-white p-6 rounded-lg shadow-md text-center mb-12 border-t-4 border-[#9c544e]">

                <div class="flex items-center justify-center space-x-2">
                    <!-- Icône -->
                    <img src="assets/subscribe-button.png" alt="Icône Abonnement accompagnement suivi"
                        class="w-16 h-16 mb-4" loading="lazy">
                    <!-- Texte -->
                    <h3 class="text-2xl font-semibold text-[#9c544e] mb-4">Gagnez en sérénité</h3>
                </div>
                <span>Pour un accompagnement régulier et adapté à vos besoins</span>
            </a>
            <!-- Service 7 -->
            <a [routerLink]="['/services']" fragment="pack"
                class="service-card bg-white p-6 rounded-lg shadow-md text-center mb-12 border-t-4 border-[#9c544e]">
                <h3 class="text-2xl font-semibold text-[#9c544e] mb-4">Packs à la carte</h3>
                <span>Des solutions clés en main couvrant plusieurs thématiques, comme la mise en place d'outils, la
                    gestion
                    IT,
                    ou le décisionnel, à des prix préférentiels</span>
            </a>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section class="contact py-16 bg-[#9c544e] text-white">
    <div class="container mx-auto px-4 text-center">
        <a routerLink="/contact">
            <h2 class="text-4xl font-bold mb-8">Contactez-nous</h2>
        </a>
        <p class="mb-4">Besoin de plus d'informations ? N'hésitez pas à nous écrire.</p>
        <a href="mailto:contact@angilion.com"
            class="inline-block bg-white text-[#9c544e] px-6 py-3 rounded-lg hover:bg-gray-200 transition">
            Contactez-nous gratuitement dès aujourd'hui
        </a>
    </div>
</section>

<app-footer></app-footer>