<app-header></app-header>
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">Mentions Légales</h1>

    <section class="mb-6">
        <h2 class="text-xl font-semibold">1. Éditeur du site</h2>
        <p><strong>Nom :</strong> Angélique Robin</p>
        <p><strong>Statut :</strong> Micro-entrepreneur</p>
        <p><strong>Dénomination sociale :</strong> Angilion</p>
        <p><strong>Adresse :</strong> 180 allée du puymorens, 31330 Merville</p>
        <p><strong>SIRET :</strong> en court d’immatriculation</p>
        <p><strong>E-mail :</strong> {{ 'angelique.robin @ angilion.com' }}</p>
        <p><strong>Téléphone :</strong> 06 ....</p>
    </section>

    <section class="mb-6">
        <h2 class="text-xl font-semibold">2. Hébergeur du site</h2>
        <p><strong>Nom :</strong> [Nom de l’hébergeur]</p>
        <p><strong>Adresse :</strong> [Adresse de l’hébergeur]</p>
        <p><strong>Téléphone :</strong> [Numéro de l’hébergeur]</p>
        <p><strong>Site web :</strong> www.angilion.com</p>
    </section>

    <section class="mb-6">
        <h2 class="text-xl font-semibold">3. Propriété intellectuelle</h2>
        <p>Le contenu du site www.angilion.com incluant, de façon non limitative, les graphismes, images, textes,
            vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de
            Angilion à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou
            auteurs. Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même
            partielle, de ces différents éléments est strictement interdite sans l'accord écrit de Angilion.</p>
    </section>

    <section class="mb-6">
        <h2 class="text-xl font-semibold">4. Responsabilité</h2>
        <p>Angilion s'efforce de fournir sur le site des informations aussi précises que possible. Toutefois, il ne
            pourra être tenu responsable des omissions, inexactitudes et carences dans la mise à jour, qu'elles soient
            de son fait ou du fait des tiers partenaires qui lui fournissent ces informations. L'utilisation des
            informations et contenus disponibles sur l'ensemble du site ne saurait en aucun cas engager la
            responsabilité de Angilion. L'utilisateur est le seul responsable de l'utilisation qu'il fait des
            informations présentes sur le site et des services proposés.
        </p>
    </section>

    <section class="mb-6">
        <h2 class="text-xl font-semibold">5. Protection des données personnelles</h2>
        <p>Les informations recueillies sur le site sont destinées à Angilion et ne sont en aucun cas cédées à des
            tiers et ne collecte aucune donnée personnelle et n’utilise aucun cookie de suivi. Conformément au Règlement
            Général sur la Protection des Données (RGPD) et à la loi Informatique et Libertés, vous disposez d'un droit
            d'accès, de rectification et de suppression de vos données personnelles.
            Vous pouvez exercer ces droits en nous contactant à l'adresse suivante : {{ 'contact @ angilion.com' }}
        </p>
    </section>

    <section class="mb-6">
        <h2 class="text-xl font-semibold">6. Cookies</h2>
        <p>Le site www.angilion.com peut être amené à utiliser des "cookies" pour optimiser l’expérience utilisateur et
            réaliser des statistiques anonymes. Vous pouvez configurer votre navigateur pour accepter ou refuser les
            cookies.</p>
    </section>

    <section class="mb-6">
        <h2 class="text-xl font-semibold">7. Droit applicable et juridiction</h2>
        <p>Tout litige en relation avec l'utilisation du site est soumis au droit français. En cas de litige, les
            tribunaux français seront seuls compétents.</p>
    </section>

    <section class="mt-8">
        <h2 class="text-xl font-semibold">8. Contact</h2>
        <p>Pour toute question ou information concernant le site, vous pouvez nous contacter à :
            <strong>{{ 'contact @ angilion.com' }}</strong>
        </p>
    </section>
</div>

<app-footer></app-footer>