.grid {
    display: grid;
}

.cursor-pointer {
    cursor: pointer;
}

.text-primary {
    color: #9c544e;
}

.text-primary-dark {
    color: #7b423b;
}


/* Titres */
.service-card h3 {
    cursor: pointer;
    color: #9c544e;
    font-weight: 600;
}

/* Conteneur texte */
.text-container {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;

    &.open {
        max-height: 1000px;
        opacity: 1;
    }
}

/* Liste d'éléments */
.service-card ul li {
    color: #4a4a4a;
    font-size: 1rem;
    line-height: 1.2;
    position: relative;
    padding-left: 0;
    padding-bottom: 0;

    &:after {
        content: '•';
        color: #9c544e;
        font-size: 1.5rem;
        display: block;
        text-align: center;
        margin-top: 0;
    }

    &:last-child:after {
        content: '';
    }

    /*Icones*/
    .icon {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #9c544e;
        /* Couleur par défaut des icônes */
    }

    .size-6 {
        width: 1.5rem;
        height: 1.5rem;
    }
}